h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: #88c564;}
strong{font-weight: 400;}
.align-bottom .row {font-size: 0;}

.golfkeeper-intro{background-repeat: no-repeat; background-color: #fff !important;}
.golfkeeper-intro .golfkeeper-intro-content{border-bottom: none; }
.brand-heading{font-size: 30px !important; text-transform: uppercase;  text-shadow:none !important; margin: 0 0 30px !important;}

.intro-text{text-shadow:none !important; font-weight: 300; color: #000 !important; font-size: 24px !important; line-height:26px;}

.btn{border-radius: 0; margin-top: 0 !important; vertical-align: top;}
.btn:focus, .btn:active:focus, .btn.active:focus:focus{outline:none;}
.golfkeeper-verticle-list li>a .app-logo-container{border-radius: 0;}
.learn-more{font-size: 12px; font-weight: 700; border-bottom:1px solid #000; display: inline-block; text-transform: uppercase;color: #000; margin: 10px 2px 0 !important; position: relative; }
.golfkeeper-row-container .golfkeeper-row{padding: 110px 0; font-size: 0;}
.golfkeeper-row-container .golfkeeper-row.colored {background-color: #8cd4e6;}
.golfkeeper-row-container .golfkeeper-row h3{text-transform: uppercase; font-weight: 700; font-size:38px; margin-bottom: 20px; position: relative; display: inline-block;}
.golfkeeper-row-container .golfkeeper-row h3 span{display: block; font-size: 26px; font-weight: 300; color: #000; text-transform: initial; color: #B3B1B1;}

.golfkeeper-nav li a{position: relative;}
.golfkeeper-nav li a:after, .learn-more:after{content: attr(title); position: absolute; top: 0; left: 0; transition: width 0.5s ease-in-out; white-space: nowrap; width: 0; overflow: hidden;}
.golfkeeper-nav li a:hover span, .learn-more:hover span{transition: opacity 0.5s ease-in-out;}
.golfkeeper-nav li a:after, .learn-more:after{top: 1px; border-bottom: 1px solid #5dbad2; color: #5dbad2;}
.golfkeeper-nav li a:after{top: 0;}
.golfkeeper-nav li a:hover span, .learn-more:hover span{opacity: 0;}
.golfkeeper-nav li a:hover:after, .learn-more:hover:after{width: 100%;}
.golfkeeper-row-container .golfkeeper-row p, .golfkeeper-about .golfkeeper-content .lead{font-size: 20px; line-height: 30px}
.golfkeeper-nav.social li a {opacity: 0.2;}
.golfkeeper-nav.social li a:after{display: none;}
.navbar{border:none;}
.alt-content, .alt-screenshot{display: inline-block; vertical-align: middle; float: none;}
.golfkeeper-store form .input-group .form-control{border-radius: 0 !important; margin-right: -4px; height: 54px;}
.golfkeeper-nav li{width: auto; margin: 0 5px !important;}
.golfkeeper-nav li a{font-size: 12px; text-decoration: none; border-bottom:1px solid #666; padding: 0; border-top: none; font-weight: 400; color: #666; border-top: none !important; }
.golfkeeper-nav li a:hover{border-bottom: none;}
.golfkeeper-copyright{margin-top: 0px;}
.golfkeeper-copyright p{font-weight: 400; color: #666; margin-bottom: 15px;}
.golfkeeper-copyright img{width: 60px;}

.golfkeeper-page-content{padding: 110px 0;}
.alt-element{padding:110px 0; }




.golfkeeper-store.golfkeeper-row-container .golfkeeper-row{border-bottom: none; padding:110px 0; text-align: center;}
.golfkeeper-store.golfkeeper-row-container .golfkeeper-row + .golfkeeper-row{background-color: #fafafa;}

.alt-element.alt-element-video{background-color: #2f2f2f; background-image: url(../img/golfKeeper-youtube.jpg); background-repeat: no-repeat; background-position: 0 70%; background-size: cover;  background-attachment: fixed; position: relative; }
.alt-element.alt-element-video .golfkeeper-row{text-align: center !important; padding: 30px 0 !important; }
.alt-element.alt-element-video .container{position: relative; z-index: 9;}
.alt-element.alt-element-video p{color: #fff; max-width: 70%; margin: 0 auto;}

#yTvid{position: absolute; top: 0; left: 0; width: 100%; height: 100%; /*opacity: 0; z-index: -1; */}
#golfkeeperapp_vid{height: 100%; width: 100%;  margin-top: 0;}

.playvideo{width: 78px; height: 78px; display: inline-block; border-radius: 50%; border: 1px solid #fff; margin-top: 50px; background-image: url(../img/play.png); background-position: center center; background-repeat: no-repeat; background-size: 30px auto; cursor: pointer;}
.playvideo:hover{opacity: 0.5}
.closeyt{position: absolute; top: 12px; right: 90px; /*opacity: 0; z-index: -1;*/ text-transform:uppercase; background-color: #40a6bc; font-size:10px; padding: 5px 10px; color: #444; border-radius: 3px; text-decoration: none !important;  }
.closeyt:hover{color: #000;}


.terms-policy:not(:last-child){border-bottom: 1px solid #f0f0f0;margin-bottom: 10px; padding-bottom: 10px;}

.golfkeeper-page-content h3{font-size: 28px; font-weight: 300;}
.golfkeeper-page-content p{font-size: 16px; color: #999; font-weight: 400; line-height: 24px; margin-bottom: 20px;}
.terms-policy:last-child p:last-child{margin-bottom: 0;}
.terms-policy:first-child h3:first-child{margin-top: 0;}

.responsive-accordion-head{color: #777 !important; margin: 0 !important;}
.responsive-accordion-head.active{color: #88c564 !important; border-bottom-color: #88c564 !important; }
.responsive-accordion-head small{font-size: 100%; font-weight: 300; color: #777;}
.responsive-accordion-head.active small{color: #000;}


.responsive-accordion-head.active:before{content: ''; position: absolute; top: 100%; left: 0; width: 29px; border-bottom: 1px solid #000;}
.responsive-accordion.responsive-accordion-default li .responsive-accordion-head .icon.icon-arrow-right{background: none !important; }
.responsive-accordion.responsive-accordion-default li .responsive-accordion-head.active  .icon{width: 0; height: 0; border:7px solid transparent; top: 57px; left: 29px; border-top-color:#88c564; margin: 0 !important; background: none !important;  }
.responsive-accordion.responsive-accordion-default li .responsive-accordion-head.active .icon.icon-arrow-right {border-top-color: #fff; display: block !important;z-index: 9;top: 56px;}


.golfkeeper-screenshot{overflow: hidden;;}
.inpageApp{position: relative; top: 110px;}

@media only screen and (max-width: 420px){
	.golfkeeper-store form .form-control{min-width: 100%; margin: 0 !important}
	button.btn{width: 100% !important;}
}
@media only screen and (max-width: 767px){
	.golfkeeper-intro .golfkeeper-intro-content .golfkeeper-screenshot figure img{display: inline-block !important;}
}
@media only screen and (min-width: 768px){
	.brand-heading{font-size: 46px !important;}
	.intro-text{font-size: 28px !important;}
	.golfkeeper-row-container .golfkeeper-row h3{font-size:62px;}
	.align-bottom .row > div{ display: inline-block; vertical-align: bottom; height: 100%; float: none;}
	.align-bottom .row > div.golfkeeper-content{padding-bottom: 30px;}
	.align-bottom .row > div.golfkeeper-content h2.brand-heading{margin-bottom: 10px !important;}
}

@media only screen and (max-width: 1200px){
	.golfkeeper-intro{background-position: 0 0 !important}
}

.subscription_form_msg{
 	height: 25px;
    z-index: 99;
    position: absolute;
    bottom: -30px; 
    font-size: 14px;
}
.subscription_form_msg label{
 	display: block;
    margin-bottom: 0;
    font-weight: normal;
    padding-left: 5px;
    color: #FF5321;
    font-size: 14px;
    text-align: left;
}

.auto-validate label{
 	display: block;
    margin-bottom: 0;
    font-weight: normal;
    padding-left: 5px;
    color: #FF5321;
    font-size: 14px;
    text-align: left;
}

.subscription_form_msg label.mailchimp-success{
    color : #88c564;
}